@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,500;0,700;1,400;1,900&display=swap");

body {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

.contact a {
  color: #757575;
}

.contact a:hover {
  color: #2196f3;
}

a {
  color: #212121;
  text-decoration: none;
}

.link-white {
  color: #fff;
}

nav > ul > li > a:focus {
  color: #2196f3;
}

a:hover {
  color: #2196f3;
}

address {
  font-style: normal;
}
.active {
  color: #2196f3;
}

button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background: #f5f4fa;
}

button:hover {
  background-color: #2196f3;
}

footer {
  background: #2f303a;
}

footer > .contact {
  line-height: 24px;
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.prefix {
  color: #2196f3;
}

a[class~="logo"]:hover {
  color: #212121;
}

.hero-banner {
  background: #2f303a;
}

.hero-banner > h1 {
  color: #ffffff;
}

.hero-banner > button {
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.s1 p {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

.s3 {
  background: #f5f4fa;
}

.s3 li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.s3 p {
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.filter > li > button {
  font-weight: 500;
  line-height: 26px;
  padding: 6px 22px;
}
