@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,500;0,700;1,400;1,900&display=swap");

:root {
  --primary-text-color: #212121;
  --secondary-bacgraund-color: #f5f4fa;
  --secondary-text-color: #757575;
  --primary-active-text-color: #2196f3;
  --tetrary-text-color: #ffffff;
  --primary-bacgraund-color: #2f303a;
  --shadow-text-color: rgba(255, 255, 255, 0.6);
}

body,
button {
  font-family: Roboto, sans-serif;
}

body {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

header ul {
  font-weight: 500;
}
a {
  color: var(--primary-text-color);
  text-decoration: none;
}
a:focus {
  color: var(--primary-active-text-color);
}

.contact a:focus {
  color: var(--primary-active-text-color);
}
a:hover {
  color: var(--primary-active-text-color);
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}
.contact-footer a {
  color: var(--shadow-text-color);
}

.adress {
  color: var(--tetrary-text-color);
}

address {
  font-style: normal;
}

.active {
  color: var(--primary-active-text-color);
}

button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background: var(--secondary-bacgraund-color);
}

button:hover {
  color: var(--tetrary-text-color);
  background-color: var(--primary-active-text-color);
}

button:focus {
  color: --tetrary-text-color;
  background-color: var(--primary-active-text-color);
}
footer {
  font-weight: 400;
  background: var(--primary-bacgraund-color);
}

.contact a {
  color: var(--secondary-text-color);
}

.contact a:hover {
  color: var(--primary-active-text-color);
}

footer .contact a {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--shadow-text-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--tetrary-text-color);
}

.prefix {
  color: var(--primary-active-text-color);
}

header .logo {
  color: var(--primary-text-color);
}
footer .logo {
  color: var(--tetrary-text-color);
}

.hero-banner {
  background: var(--primary-bacgraund-color);
}

.hero-banner > h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--tetrary-text-color);
}

.hero-banner > button {
  font-weight: 700;
  line-height: 30px;
  color: var(--tetrary-text-color);
  background: var(--primary-active-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.s1 p {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 270px;
}

.s1 h2 {
  text-transform: uppercase;
}

.s2 h2 {
  font-weight: 700;
  font-size: 36px;
}

.s3 h2 {
  font-weight: 700;
  font-size: 36px;
}
.s3 {
  background: var(--secondary-bacgraund-color);
}

.s3 li {
  background: var(--tetrary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.s3 p {
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.s4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.s4 h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.filter button {
  font-weight: 500;

  line-height: 26px;
  padding: 6px 22px;
}
